<div class="flex flex-col items-center justify-center min-h-screen p-4">
    <h2 class="text-3xl mb-3"><b>GestiónDe</b>Operaciones</h2>
    <div class="flex flex-col items-center bg-white p-4 rounded-lg shadow-md w-full max-w-md">
        <h3 class="text-2xl mb-3">Restablecer Contraseña</h3>

        <form class="w-full min-h-45" [formGroup]="passwordForm()">

            <mat-form-field class="w-full" appearance="fill">
                <mat-label>Nueva Contraseña</mat-label>
                <input matInput [type]="hideP() ? 'password' : 'text'" formControlName="password"/>
                <mat-icon matPrefix>password</mat-icon>
                <button mat-icon-button matSuffix (click)="clickEventP($event)" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hideP()">
                  <mat-icon>{{hideP() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field class="w-full" appearance="fill">
                <mat-label>Repetir Contraseña</mat-label>
                <input matInput [type]="hideNp() ? 'password' : 'text'" formControlName="confirmPassword"/>
                <mat-icon matPrefix>password</mat-icon>
                <button mat-icon-button matSuffix (click)="clickEventNp($event)" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hideNp()">
                  <mat-icon>{{hideNp() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
                @if (passwordForm().get('password')?.value !== passwordForm().get('confirmPassword')?.value) {
                    <mat-error>
                        Las contraseñas no coinciden
                    </mat-error>
                }
        </form>

        <div class="flex flex-row items-center justify-center w-full">
            <button mat-flat-button class="w-full rounded-lg" (click)="onSubmit()" [disabled]="isLoading()">
                {{ isLoading() ? 'Enviando...' : 'Restablecer' }}
            </button>
        </div>
    </div>
</div>
