services:
  mariadb:
    image: mariadb:latest
    container_name: gestops-db
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_USER_PASSWORD}
    volumes:
      - /srv/dev-disk-by-uuid-e1688f1c-ca8f-4b9e-bbc1-32aef67f601b/Datos/mariadb_data:/var/lib/mysql
    networks:
      - internal-network
    restart: always
    logging: &default-logging
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      timeout: 20s
      retries: 10
      interval: 10s

  backend:
    build: ./backend
    container_name: gestops-api
    ports:
      - "5000:5000"
    env_file:
      - ./.env
    environment:
      DB_HOST: mariadb
      DB_PORT: 3306
    volumes:
      - /srv/dev-disk-by-uuid-e1688f1c-ca8f-4b9e-bbc1-32aef67f601b/Datos/app_data:/app/data
    networks:
      - internal-network
    restart: always
    depends_on:
      mariadb:
        condition: service_healthy
    logging: *default-logging
    healthcheck:
      test: ["CMD", "curl", "-s", "http://localhost:5000/"]
      timeout: 5s
      retries: 3
      interval: 10s

  frontend:
    build: ./frontend/gestOps
    container_name: gestops-web
    ports:
      - "8080:80"
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - external-network
      - internal-network
    restart: always
    logging: *default-logging

  cloudflare-tunnel:
    image: cloudflare/cloudflared:latest
    container_name: cloudflare-connector
    command: tunnel run
    environment:
      TUNNEL_TOKEN: ${CLOUDFLARE_TUNNEL_TOKEN}
    networks:
      - external-network
    restart: always
    depends_on:
      - frontend
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M

networks:
  external-network:
    driver: bridge
  internal-network:
    driver: bridge