/* Estilos globales para el dialog */
:host ::ng-deep .file-viewer-dialog .mat-mdc-dialog-container {
  padding: 0;
}

:host ::ng-deep .file-viewer-dialog .mat-mdc-dialog-surface {
  overflow: hidden;
}
