<div>
    <!-- Desktop Navigation -->
    <nav class="fixed top-0 left-0 right-0 w-full flex-row bg-white shadow-md hidden lg:flex z-50">
        <nav mat-tab-nav-bar class="basis-5/6 bg-white" [tabPanel]="tabPanel">
            @for (route of mainRoutes; track $index) {
            <a mat-tab-link [routerLink]="'/' + route.path" routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive" class="text-lg">
                <mat-icon>{{route.icon}}</mat-icon>
                <span class="ml-2">{{route.label}}</span>
            </a>
            }
        </nav>

        <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

        <div class="basis-1/6 flex items-center justify-center bg-white">
            <button mat-button (click)="logout()" class="text-lg">
                <mat-icon class="text-[26px] h-[26px] w-[26px]">logout</mat-icon>
                <span class="ml-2">Cerrar sesión</span>
            </button>
        </div>
    </nav>

    <!-- Mobile Header - Navegación principal -->
    <nav class="fixed top-0 left-0 right-0 w-full lg:hidden bg-white shadow-md h-16 z-50">
        <div class="flex justify-around items-center h-full">
            @for (route of mainRoutes; track $index) {
            <a [routerLink]="'/' + route.path"
                routerLinkActive="bg-[var(--mat-sys-on-primary-fixed-variant)]/50 text-white"
                class="flex-1 h-full flex items-center justify-center relative">
                <mat-icon class="text-[36px] h-[36px] w-[36px]">{{route.icon}}</mat-icon>
            </a>
            }

            <!-- Botón de logout en el header -->
            <button (click)="logout()" class="flex-1 h-full flex items-center justify-center
                           text-[var(--mat-sys-primary)] 
                           hover:bg-[var(--mat-sys-primary)]/[0.10] 
                           active:bg-[var(--mat-sys-primary)]/[0.20]
                           transition-all duration-200 ease-out">
                <mat-icon class="text-[36px] h-[36px] w-[36px]">logout</mat-icon>
            </button>
        </div>
    </nav>

</div>