<div class="fixed top-0 w-full z-50">
    <app-navbar></app-navbar>
</div>

<div class="flex flex-col items-center justify-center p-20">

    <div class="flex justify-between w-full max-w-180">
        <div>
            <mat-form-field class="w-90">
                <mat-label>Filtrar</mat-label>
                <input matInput #filterInput (keyup)="applyFilter($event)" placeholder="Buscar por id, nombre, apellido, email o rol">
            </mat-form-field>
        </div>
        <div class="h-[76px] pt-3">
            <button mat-raised-button (click)="openUserFormDialog('create')">
                Crear usuario
                <mat-icon>add_box</mat-icon>
              </button>
        </div>
    </div>

    <div class="mat-elevation-z8 w-190">
        <table mat-table [dataSource]="dataSource" matSort class="shadow border-1 border-gray-500">
            <ng-container *ngFor="let col of columnsToDisplay" [matColumnDef]="col">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [class]="headerColor">
                    {{col === 'email' ? 'Correo' : (col | titlecase)}}
                </th>
                <td mat-cell *matCellDef="let row"> {{row[col]}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef [class]="headerColor">Acciones</th>
                <td mat-cell *matCellDef="let row">
                    <div class="flex items-center">
                        <div class="flex-col justify-items-center">
                            <button mat-mini-fab class="bg-amber-500/65" (click)="openUserFormDialog('update', row)">
                                <mat-icon>edit_squared_outlined</mat-icon>
                            </button>
                        </div>
                        <div class="flex-col ml-3 justify-items-center">
                            <button mat-mini-fab class="bg-red-500/75" (click)="openDeleteUserDialog(row.id)" >
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay.concat(['actions'])"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay.concat(['actions']); let even = even"
                [ngClass]="{'bg-gray-100': even, 'bg-white': !even}"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" [attr.colspan]="columnsToDisplay.length + 1">
                    No se encontraron resultados para "{{filterInput.value}}"
                </td>
            </tr>
        </table>

        <mat-paginator class="bg-gray-300" [pageSizeOptions]="[10, 25, 50, 100]"
            aria-label="Select page of users"></mat-paginator>
    </div>
</div>