<div class="flex flex-col items-center justify-center">

    <div class="flex flex-col items-center justify-center pt-16 p-4 md:p-10 lg:p-20">
        <div class="flex flex-col md:flex-row justify-between w-full max-w-sm md:max-w-4xl lg:max-w-6xl">
            <div class="h-[76px] pt-3 flex justify-center md:justify-start mb-4 md:mb-0">

                <button mat-raised-button (click)="openSubcategoriaFormDialog('create')">
                    <mat-icon>add_box</mat-icon>
                    Crear Subcategoria
                </button>
            </div>
            <div class="flex flex-row ">
                <mat-form-field class="text-xs w-[220px]">
                    <mat-label>Filtro global</mat-label>
                    <input matInput [(ngModel)]="filtroGlobal"
                        (input)="applyFilter('global', $any($event.target).value)"
                        placeholder="Buscar en todas las columnas...">
                </mat-form-field>
                <button mat-button (click)="clearFilters()" class="mt-2">
                    <mat-icon>clear</mat-icon>
                    Limpiar Filtros
                </button>
            </div>
        </div>

        <div class="overflow-x-auto w-full max-w-sm md:max-w-4xl lg:max-w-6xl mt-4">
            <div class="mat-elevation-z8 min-w-full">
                <table mat-table [dataSource]="dataSource" matSort class="shadow border-1 border-gray-500">
                    @for (col of columnsToDisplay; track col) {
                    <ng-container [matColumnDef]="col">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header [class]="headerColor">
                            {{(col | titlecase)}}
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{
                            col === 'concepto' && row.categoria && row.categoria.concepto
                            ? row.categoria.concepto.nombre
                            : col === 'categoria' && row.categoria
                            ? row.categoria.nombre
                            : col === 'subcategoria'
                            ? row.nombre
                            : row[col]
                            }}
                        </td>
                    </ng-container>
                    }

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef [class]="headerColor" class="w-31">Acciones</th>
                        <td mat-cell *matCellDef="let row">
                            <div class="flex items-center">
                                <div class="flex-col justify-items-center">
                                    <button mat-mini-fab class="bg-amber-500/65"
                                        (click)="openSubcategoriaFormDialog('update', row)">
                                        <mat-icon>edit_squared_outlined</mat-icon>
                                    </button>
                                </div>
                                <div class="flex-col ml-3 justify-items-center">
                                    <button mat-mini-fab class="bg-red-500/75"
                                        (click)="openDeleteSubcategoriaDialog(row.id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay.concat(['actions'])"></tr>

                    <tr mat-header-row *matHeaderRowDef="filterColumns" class="bg-gray-50"></tr>


                    @for (col of columnsToDisplay; track col) {
                    <ng-container matColumnDef="{{col}}-filter">
                        <th mat-header-cell *matHeaderCellDef
                            class="bg-[#ffffff] border-b border-gray-500 p-1 filter-cell">
                            @if (col === 'concepto') {
                            <div class="relative w-full">
                                <input type="text" id="filtro_concepto"
                                    class="peer block w-full rounded-t-md border-b px-2.5 pb-2 pt-4 text-xs bg-[var(--mat-sys-surface-variant)] h-[42px] font-normal focus:outline-none focus:ring-0 focus:border-[var(--mat-sys-primary)]"
                                    placeholder=" " [(ngModel)]="filtroConcepto"
                                    (input)="applyFilter('concepto', $any($event.target).value)" />
                                <label for="filtro_concepto"
                                    class="absolute left-2.5 top-3.5 origin-[0] -translate-y-3 scale-75 transform cursor-text text-[var(--mat-sys-on-surface-variant)] duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-120 peer-focus:-translate-y-3 peer-focus:scale-85 peer-focus:text-[var(--mat-sys-primary)] font-normal">
                                    Buscar...
                                </label>
                            </div>
                            }

                            @if (col === 'categoria') {
                            <div class="relative w-full">
                                <input type="text" id="filtro_categoria"
                                    class="peer block w-full rounded-t-md border-b px-2.5 pb-2 pt-4 text-xs bg-[var(--mat-sys-surface-variant)] h-[42px] font-normal focus:outline-none focus:ring-0 focus:border-[var(--mat-sys-primary)]"
                                    placeholder=" " [(ngModel)]="filtroCategoria"
                                    (input)="applyFilter('categoria', $any($event.target).value)" />
                                <label for="filtro_categoria"
                                    class="absolute left-2.5 top-3.5 origin-[0] -translate-y-3 scale-75 transform cursor-text text-[var(--mat-sys-on-surface-variant)] duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-120 peer-focus:-translate-y-3 peer-focus:scale-85 peer-focus:text-[var(--mat-sys-primary)] font-normal">
                                    Buscar...
                                </label>
                            </div>
                            }

                            @if (col === 'subcategoria') {
                            <div class="relative w-full">
                                <input type="text" id="filtro_subcategoria"
                                    class="peer block w-full rounded-t-md border-b px-2.5 pb-2 pt-4 text-xs bg-[var(--mat-sys-surface-variant)] h-[42px] font-normal focus:outline-none focus:ring-0 focus:border-[var(--mat-sys-primary)]"
                                    placeholder=" " [(ngModel)]="filtroSubcategoria"
                                    (input)="applyFilter('subcategoria', $any($event.target).value)" />
                                <label for="filtro_subcategoria"
                                    class="absolute left-2.5 top-3.5 origin-[0] -translate-y-3 scale-75 transform cursor-text text-[var(--mat-sys-on-surface-variant)] duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-120 peer-focus:-translate-y-3 peer-focus:scale-85 peer-focus:text-[var(--mat-sys-primary)] font-normal">
                                    Buscar...
                                </label>
                            </div>
                            }
                        </th>
                    </ng-container>
                    }

                    <ng-container matColumnDef="actions-filter">
                        <th mat-header-cell *matHeaderCellDef
                            class="w-31 bg-gray-50 border-b border-gray-200 no-padding filter-cell">&nbsp;</th>
                    </ng-container>

                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay.concat(['actions']); let even = even"
                        [ngClass]="{'bg-gray-100': even, 'bg-white': !even}"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell text-center" [attr.colspan]="columnsToDisplay.length + 1">
                            No se encontraron resultados
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <mat-paginator class="bg-gray-300 w-full max-w-sm md:max-w-4xl lg:max-w-6xl pt-2"
            [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of categorias"></mat-paginator>
    </div>
</div>